* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #6b6b6b;
  color: white;
}

::-webkit-selection {
  background-color: #6b6b6b;
  color: white;
}

::selection {
  color: white;
  background-color: #6b6b6b;
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

.content-container {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

main,
footer {
  flex: 1;
  background-color: black;
  color: white;
}

.bottom-links {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.icon-container {
  width: 5%;
  margin: 0 5% 0 5%;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .icon-container {
    width: 3.5%;
  }
}

@media (min-width: 1200px) {
  .icon-container {
    width: 2.5%;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main h1 {
  text-align: center;
  vertical-align: middle;
}
