.text {
  font-size: 4vw;
  text-align: start;
}
.container {
  margin-left: 5%;
  padding: 1%;
  width: fit-content;
}

.anchor,
.anchor:link,
.anchor:visited,
.anchor:hover,
.anchor:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

.anchor::before {
  content: "/";
  text-decoration: none;
}

.lastAnchor {
  color: white;
  font-weight: inherit;
  text-decoration: underline;
  text-decoration-color: white;
  cursor: pointer;
}

.lastAnchor::before {
  content: "/";
}

@media (min-width: 768px) {
  .text {
    font-size: 3vw;
  }
}

@media (min-width: 992px) {
  .text {
    font-size: 3vw;
  }
}

@media (min-width: 1200px) {
  .text {
    font-size: 2vw;
  }
}
